.tachyons {
  width: 170px;
  text-align: center;
  margin: auto;
  font-size: 27pt;
}

.teamName {
  text-align: center;
  // transition: letter-spacing 0.1s ease-out;
  font-weight: 500;
  font-style: italic;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  user-select: none;
}
.visible {
  opacity: 1 !important;
}

.headerFlow {
  position: relative;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  // top: 50%;
  overflow: hidden;
  height: calc(100svh + 400px);
}

.headerStick {
  position: fixed;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  // top: 50%;
  overflow: hidden;
  height: 100svh;
}

.car {
  // rotate: 180deg;
  position: absolute;
  width: 200px;
  top: 50%;
  transform: translate(-50%, -50%);
  // transition: left 0.1s ease-out;
}

// .noTransition {
//   transition: none;
// }
// @media (max-width: 1010px) {
//   .car {
//     transition: none;
//   }
//   .teamName {
//     transition: none;
//   }
// }
