---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html id="html" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="As Tachyons, we proudly represent F1 in Schools Italy, pushing boundaries and embracing the thrill of the race."
    />
    <meta property="og:title" content="Tachyons F1" />
    <meta property="og:site_name" content="Tachyons F1" />
    <meta property="og:url" content="https://tachyons.paarthkureja.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://wsrv.nl/?url=https://res.cloudinary.com/dce66e96q/image/upload/f_png,w_500,q_auto/favicon.png"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="https://wsrv.nl/?url=https://res.cloudinary.com/dce66e96q/image/upload/f_png,w_150,q_auto/favicon.png"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"
    ></script>
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "m4ps8rgvw7");
    </script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
    background-color: #eeeeee;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  code {
  }
</style>
